# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# build artifact

happy
cli

# coverage
## Ignore root level coverage, pin it to 0
coverage.html
coverage.txt
profile.cov
.env
.env.eks
.env.ecr
.idea/
.vscode/
__debug_bin
localstack.sh

cli/cmd/cli.code-workspace
