@import "bootstrap-variables";
@import "bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-svg-core/styles.css';
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';

body {
  background-image: url("/goal.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

.logo {
  max-width: 8em;
  align-content: center;
}

.main {;
}

//
div.content {
  background-color: rgb(255,255,255,0.65);
}
.navigation {
  height: 100vh;
  $navigationButtonTextColor: rgba(250, 250, 250, 0.65);

  min-height: 100vh !important;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  background-color: $primary !important;

  .sidebar-menu {
    height: 100vh;
  }

  .sidebar-menu-brand {
    a {
      color: $navigationButtonTextColor;
    }
  }

  .dropdown-toggle {
    outline: 0;
  }

  .nav-flush .nav-link {
    border-radius: 0;
  }

  .btn-primary {
    border: 0;
  }

  .btn-toggle {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: $navigationButtonTextColor;
    background-color: transparent;
    border: 0;
  }

  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(255, 255, 255, .85);
    background-color: #343d3c;
  }

  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgba(255, 255, 255, 0.85);
  }

  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }

  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #343d3c;
  }

  .scrollarea {
    overflow-y: auto;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .lh-tight {
    line-height: 1.25;
  }

}
