# Validates PR title follows conventional commits
name: conventional-commits
on:
  pull_request:
    branches: main
    types:
      - edited
      - opened
      - synchronize
      - reopened

jobs:
  conventional_commit_title:
    runs-on: [ARM64, self-hosted, Linux]
    steps:
      - uses: chanzuckerberg/github-actions/.github/actions/conventional-commits@v1.3.1
