on:
  pull_request:
    paths:
      - .github/**
      - shared/**

name: shared-build
jobs:
  lint-shared:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: shared/go.mod
      - name: Run go mod tidy
        run: |
          cd shared && go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}
          args: --timeout 10m0s
          skip-go-installation: true
          working-directory: shared

  test-shared:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: shared/go.mod
      - name: Run go mod tidy
        run: |
          cd shared && go mod tidy
      - name: Run tests
        run: cd shared && make test
